on:
  push:
    branches: [main]
name: decimal
jobs:
  fuzzing:
    runs-on: ubuntu-latest
    steps:

    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.19.x

    - name: Check out code
      uses: actions/checkout@v3

    - name: Verify code formatting
      run: gofmt -s -w . && git diff --exit-code
      
    - name: Verify dependency consistency
      run: go mod tidy && git diff --exit-code

    - name: Run fuzzing for addition
      run: go test -fuzztime 30s -fuzz ^FuzzDecimal_Add$ github.com/govalues/benchmarks

    - name: Run fuzzing for multiplication
      run: go test -fuzztime 30s -fuzz ^FuzzDecimal_Mul$ github.com/govalues/benchmarks

    - name: Run fuzzing for division
      run: go test -fuzztime 30s -fuzz ^FuzzDecimal_Quo$ github.com/govalues/benchmarks
